@{
    ViewData["Title"] = "Головна Сторінка";
}

    <div class="text-center" align="center">
        <h1 class="display-3" background="white">Ласкаво просимо</h1>
        <h1 class="display-4" background="white">до бази даних, присвяченої японській анімації, літературі та іграм!</h1>
        <p> <font size="15"> Базу даних створили: Карієв Дамір та Поліна Глущенко, група К-26. </font> </p>
    </div>
