@{
    ViewData["Title"] = "Головна Сторінка";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
}

else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстація</a>
}

<div class="text-center" align="center">
    <h1 class="display-3" background="white">Ласкаво просимо</h1>
    <h1 class="display-4" background="white">до бази даних, присвяченої японській анімації, літературі та іграм!</h1>
    <p> <font size="15"> Базу даних створили: Карієв Дамір та Поліна Глущенко, група К-26. </font> </p>
</div>
